In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv('telecom_customer_churn.csv')

## Data Understanding

In [3]:
class DatasetDisplay:
    def __init__(self, df):
        self.df = df
    
    def display_info(self):
        print(f'First Five Rows of DataFrame:\n{self.df.head()}')
        print('------------------------------------------')
        print(f'DataFrame Information:\n{self.df.info()}')
        print('------------------------------------------')
        print(f'Descriptive Statistics of DataFrame:\n{self.df.describe()}')
        print('------------------------------------------')
        print(f'Shape of DataFrame: {self.df.shape}')

In [4]:
display = DatasetDisplay(df)
display.display_info()

First Five Rows of DataFrame:
  Customer ID  Gender  Age Married  Number of Dependents          City  \
0  0002-ORFBO  Female   37     Yes                     0  Frazier Park
1  0003-MKNFE    Male   46      No                     0      Glendale
2  0004-TLHLJ    Male   50      No                     0    Costa Mesa
3  0011-IGKFF    Male   78     Yes                     0      Martinez
4  0013-EXCHZ  Female   75     Yes                     0     Camarillo

   Zip Code   Latitude   Longitude  Number of Referrals  ...   Payment Method  \
0     93225  34.827662 -118.999073                    2  ...      Credit Card
1     91206  34.162515 -118.203869                    0  ...      Credit Card
2     92627  33.645672 -117.922613                    0  ...  Bank Withdrawal
3     94553  38.014457 -122.115432                    1  ...  Bank Withdrawal
4     93010  34.227846 -119.079903                    3  ...      Credit Card

  Monthly Charge Total Charges  Total Refunds Total Extra Data Charges  \
0           65.6        593.30           0.00                        0
1           -4.0        542.40          38.33                       10
2           73.9        280.85           0.00                        0
3           98.0       1237.85           0.00                        0
4           83.9        267.40           0.00                        0

  Total Long Distance Charges Total Revenue  Customer Status   Churn Category  \
0                      381.51        974.81           Stayed              NaN
1                       96.21        610.28           Stayed              NaN
2                      134.60        415.45          Churned       Competitor
3                      361.66       1599.51          Churned  Dissatisfaction
4                       22.14        289.54          Churned  Dissatisfaction

                    Churn Reason
0                            NaN
1                            NaN
2  Competitor had better devices
3        Product dissatisfaction
4            Network reliability

[5 rows x 38 columns]
------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              7043 non-null   object
 12  Phone Service                      7043 non-null   object
 13  Avg Monthly Long Distance Charges  6361 non-null   float64
 14  Multiple Lines                     6361 non-null   object
 15  Internet Service                   7043 non-null   object
 16  Internet Type                      5517 non-null   object
 17  Avg Monthly GB Download            5517 non-null   float64
 18  Online Security                    5517 non-null   object
 19  Online Backup                      5517 non-null   object
 20  Device Protection Plan             5517 non-null   object
 21  Premium Tech Support               5517 non-null   object
 22  Streaming TV                       5517 non-null   object
 23  Streaming Movies                   5517 non-null   object
 24  Streaming Music                    5517 non-null   object
 25  Unlimited Data                     5517 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   object
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB
DataFrame Information:
None
------------------------------------------
Descriptive Statistics of DataFrame:
               Age  Number of Dependents      Zip Code     Latitude  \
count  7043.000000           7043.000000   7043.000000  7043.000000
mean     46.509726              0.468692  93486.070567    36.197455
std      16.750352              0.962802   1856.767505     2.468929
min      19.000000              0.000000  90001.000000    32.555828
25%      32.000000              0.000000  92101.000000    33.990646
50%      46.000000              0.000000  93518.000000    36.205465
75%      60.000000              0.000000  95329.000000    38.161321
max      80.000000              9.000000  96150.000000    41.962127

         Longitude  Number of Referrals  Tenure in Months  \
count  7043.000000          7043.000000       7043.000000
mean   -119.756684             1.951867         32.386767
std       2.154425             3.001199         24.542061
min    -124.301372             0.000000          1.000000
25%    -121.788090             0.000000          9.000000
50%    -119.595293             0.000000         29.000000
75%    -117.969795             3.000000         55.000000
max    -114.192901            11.000000         72.000000

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                        6361.000000              5517.000000
mean                           25.420517                26.189958
std                            14.200374                19.586585
min                             1.010000                 2.000000
25%                            13.050000                13.000000
50%                            25.690000                21.000000
75%                            37.680000                30.000000
max                            49.990000                85.000000

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count     7043.000000    7043.000000    7043.000000               7043.000000
mean        63.596131    2280.381264       1.962182                  6.860713
std         31.204743    2266.220462       7.902614                 25.104978
min        -10.000000      18.800000       0.000000                  0.000000
25%         30.400000     400.150000       0.000000                  0.000000
50%         70.050000    1394.550000       0.000000                  0.000000
75%         89.750000    3786.600000       0.000000                  0.000000
max        118.750000    8684.800000      49.790000                150.000000

       Total Long Distance Charges  Total Revenue
count                  7043.000000    7043.000000
mean                    749.099262    3034.379056
std                     846.660055    2865.204542
min                       0.000000      21.360000
25%                      70.545000     605.610000
50%                     401.440000    2108.640000
75%                    1191.100000    4801.145000
max                    3564.720000   11979.340000
------------------------------------------
Shape of DataFrame: (7043, 38)

## Check Datatypes

In [5]:
def show_datatypes(data):
    dtype_df = pd.DataFrame(data.dtypes, columns=['DataType'])
    dtype_df.reset_index(inplace=True)
    dtype_df.columns = ['Column', 'DataType']
    return dtype_df

In [6]:
show_datatypes(df)

                               Column DataType
0                         Customer ID   object
1                              Gender   object
2                                 Age    int64
3                             Married   object
4                Number of Dependents    int64
5                                City   object
6                            Zip Code    int64
7                            Latitude  float64
8                           Longitude  float64
9                 Number of Referrals    int64
10                   Tenure in Months    int64
11                              Offer   object
12                      Phone Service   object
13  Avg Monthly Long Distance Charges  float64
14                     Multiple Lines   object
15                   Internet Service   object
16                      Internet Type   object
17            Avg Monthly GB Download  float64
18                    Online Security   object
19                      Online Backup   object
20             Device Protection Plan   object
21               Premium Tech Support   object
22                       Streaming TV   object
23                   Streaming Movies   object
24                    Streaming Music   object
25                     Unlimited Data   object
26                           Contract   object
27                  Paperless Billing   object
28                     Payment Method   object
29                     Monthly Charge  float64
30                      Total Charges  float64
31                      Total Refunds  float64
32           Total Extra Data Charges    int64
33        Total Long Distance Charges  float64
34                      Total Revenue  float64
35                    Customer Status   object
36                     Churn Category   object
37                       Churn Reason   object

In [7]:
def display_data_types_summary(data):
    dtype_summary = data.dtypes.value_counts().reset_index()
    dtype_summary.columns = ['Data Type', 'Total Variables']
    return dtype_summary

In [8]:
display_data_types_summary(df)

  Data Type  Total Variables
0    object               23
1   float64                9
2     int64                6

## Missing Values

In [9]:
def missing(data):
    missing= data.isnull().sum()
    percentage= missing/len(data)
    return pd.DataFrame({'Number Of Missing Values': missing, 'Percentage of Missing Values': percentage})

In [10]:
missing(df)

,Number Of Missing Values,Percentage of Missing Values
Customer ID,0,0.000000
Gender,0,0.000000
Age,0,0.000000
Married,0,0.000000
Number of Dependents,0,0.000000
City,0,0.000000
Zip Code,0,0.000000
Latitude,0,0.000000
Longitude,0,0.000000
Number of Referrals,0,0.000000
Tenure in Months,0,0.000000
Offer,0,0.000000
Phone Service,0,0.000000
Avg Monthly Long Distance Charges,682,0.096834
Multiple Lines,682,0.096834
Internet Service,0,0.000000
Internet Type,1526,0.216669
Avg Monthly GB Download,1526,0.216669
Online Security,1526,0.216669
Online Backup,1526,0.216669
Device Protection Plan,1526,0.216669
Premium Tech Support,1526,0.216669
Streaming TV,1526,0.216669
Streaming Movies,1526,0.216669
Streaming Music,1526,0.216669
Unlimited Data,1526,0.216669
Contract,0,0.000000
Paperless Billing,0,0.000000
Payment Method,0,0.000000
Monthly Charge,0,0.000000
Total Charges,0,0.000000
Total Refunds,0,0.000000
Total Extra Data Charges,0,0.000000
Total Long Distance Charges,0,0.000000
Total Revenue,0,0.000000
Customer Status,0,0.000000
Churn Category,5174,0.734630
Churn Reason,5174,0.734630

### Drop Columns

In [11]:
class DropColumn:
    def __init__(self, data):
        self.data = data

    def drop_columns(self, columns):
        self.data.drop(columns=columns, inplace=True)

In [12]:
data = df
dropper = DropColumn(data)
columns_to_drop = ['Churn Category', 'Churn Reason', 'Customer ID']  # List of column names to drop
dropper.drop_columns(columns_to_drop)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             7043 non-null   object
 1   Age                                7043 non-null   int64
 2   Married                            7043 non-null   object
 3   Number of Dependents               7043 non-null   int64
 4   City                               7043 non-null   object
 5   Zip Code                           7043 non-null   int64
 6   Latitude                           7043 non-null   float64
 7   Longitude                          7043 non-null   float64
 8   Number of Referrals                7043 non-null   int64
 9   Tenure in Months                   7043 non-null   int64
 10  Offer                              7043 non-null   object
 11  Phone Service                      7043 non-null   object
 12  Avg Monthly Long Distance Charges  6361 non-null   float64
 13  Multiple Lines                     6361 non-null   object
 14  Internet Service                   7043 non-null   object
 15  Internet Type                      5517 non-null   object
 16  Avg Monthly GB Download            5517 non-null   float64
 17  Online Security                    5517 non-null   object
 18  Online Backup                      5517 non-null   object
 19  Device Protection Plan             5517 non-null   object
 20  Premium Tech Support               5517 non-null   object
 21  Streaming TV                       5517 non-null   object
 22  Streaming Movies                   5517 non-null   object
 23  Streaming Music                    5517 non-null   object
 24  Unlimited Data                     5517 non-null   object
 25  Contract                           7043 non-null   object
 26  Paperless Billing                  7043 non-null   object
 27  Payment Method                     7043 non-null   object
 28  Monthly Charge                     7043 non-null   float64
 29  Total Charges                      7043 non-null   float64
 30  Total Refunds                      7043 non-null   float64
 31  Total Extra Data Charges           7043 non-null   int64
 32  Total Long Distance Charges        7043 non-null   float64
 33  Total Revenue                      7043 non-null   float64
 34  Customer Status                    7043 non-null   object
dtypes: float64(9), int64(6), object(20)
memory usage: 1.9+ MB

## Fill missing Values

In [14]:
def fill_missing_values(data):
    data.fillna(method='ffill', axis=0, inplace=True)
    filled_values_count = data.isnull().sum().sum()
    
    if filled_values_count == 0:
        print("All missing values have been successfully filled.")
    else:
        print(f"There are still {filled_values_count} missing values remaining.")

In [15]:
fill_missing_values(df)

All missing values have been successfully filled.

## Duplicates

In [16]:
def duplicates(data):
    duplicates= data.duplicated().any()
    if duplicates:
        print('Duplicates Present')
    else:
        print('There are no duplicates in the DataFrame')

In [17]:
duplicates(df)

There are no duplicates in the DataFrame

## Unique Values

In [18]:
def unique_values(data):
    categorical_columns = data.select_dtypes(include='object').columns
    for column in categorical_columns:
        unique_values = data[column].unique()
        print(f"There are Unique Values in '{column}': {unique_values}")

In [19]:
unique_values(df)

There are Unique Values in 'Gender': ['Female' 'Male']
There are Unique Values in 'Married': ['Yes' 'No']
There are Unique Values in 'City': ['Frazier Park' 'Glendale' 'Costa Mesa' ... 'Jacumba' 'Carpinteria'
 'Meadow Valley']
There are Unique Values in 'Offer': ['None' 'Offer E' 'Offer D' 'Offer A' 'Offer B' 'Offer C']
There are Unique Values in 'Phone Service': ['Yes' 'No']
There are Unique Values in 'Multiple Lines': ['No' 'Yes']
There are Unique Values in 'Internet Service': ['Yes' 'No']
There are Unique Values in 'Internet Type': ['Cable' 'Fiber Optic' 'DSL']
There are Unique Values in 'Online Security': ['No' 'Yes']
There are Unique Values in 'Online Backup': ['Yes' 'No']
There are Unique Values in 'Device Protection Plan': ['No' 'Yes']
There are Unique Values in 'Premium Tech Support': ['Yes' 'No']
There are Unique Values in 'Streaming TV': ['Yes' 'No']
There are Unique Values in 'Streaming Movies': ['No' 'Yes']
There are Unique Values in 'Streaming Music': ['No' 'Yes']
There are Unique Values in 'Unlimited Data': ['Yes' 'No']
There are Unique Values in 'Contract': ['One Year' 'Month-to-Month' 'Two Year']
There are Unique Values in 'Paperless Billing': ['Yes' 'No']
There are Unique Values in 'Payment Method': ['Credit Card' 'Bank Withdrawal' 'Mailed Check']
There are Unique Values in 'Customer Status': ['Stayed' 'Churned' 'Joined']

## Outliers

In [20]:
def outliers(data):
    numerical_columns= data.select_dtypes(include=['int64', 'float64']).columns

    outliers= {}

    for column in numerical_columns:
        # Calculate IQR threshold for outliers
        q1= data[column].quantile(0.25)
        q3= data[column].quantile(0.75)
        iqr= q3-q1
        threshold= 1.5*iqr

        # Identify outliers
        column_outliers = data[(data[column] < q1 - threshold) | (data[column] > q3 + threshold)]
        outliers[column] = column_outliers

    # Concatenate outliers into a single dataframe
    outliers_df = pd.concat(outliers.values(), keys=outliers.keys())
    return outliers

In [21]:
outliers_dict = outliers(df)

for column, outliers_df in outliers_dict.items():
    print(f"Outliers for column: {column}")
    print(outliers_df.describe())
    print("\n")

Outliers for column: Age
       Age  Number of Dependents  Zip Code  Latitude  Longitude  \
count  0.0                   0.0       0.0       0.0        0.0
mean   NaN                   NaN       NaN       NaN        NaN
std    NaN                   NaN       NaN       NaN        NaN
min    NaN                   NaN       NaN       NaN        NaN
25%    NaN                   NaN       NaN       NaN        NaN
50%    NaN                   NaN       NaN       NaN        NaN
75%    NaN                   NaN       NaN       NaN        NaN
max    NaN                   NaN       NaN       NaN        NaN

       Number of Referrals  Tenure in Months  \
count                  0.0               0.0
mean                   NaN               NaN
std                    NaN               NaN
min                    NaN               NaN
25%                    NaN               NaN
50%                    NaN               NaN
75%                    NaN               NaN
max                    NaN               NaN

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                                0.0                      0.0
mean                                 NaN                      NaN
std                                  NaN                      NaN
min                                  NaN                      NaN
25%                                  NaN                      NaN
50%                                  NaN                      NaN
75%                                  NaN                      NaN
max                                  NaN                      NaN

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count             0.0            0.0            0.0                       0.0
mean              NaN            NaN            NaN                       NaN
std               NaN            NaN            NaN                       NaN
min               NaN            NaN            NaN                       NaN
25%               NaN            NaN            NaN                       NaN
50%               NaN            NaN            NaN                       NaN
75%               NaN            NaN            NaN                       NaN
max               NaN            NaN            NaN                       NaN

       Total Long Distance Charges  Total Revenue
count                          0.0            0.0
mean                           NaN            NaN
std                            NaN            NaN
min                            NaN            NaN
25%                            NaN            NaN
50%                            NaN            NaN
75%                            NaN            NaN
max                            NaN            NaN


Outliers for column: Number of Dependents
               Age  Number of Dependents      Zip Code     Latitude  \
count  1627.000000           1627.000000   1627.000000  1627.000000
mean     42.676091              2.028888  93531.315304    36.319862
std      14.527708              0.920466   1887.666878     2.487527
min      19.000000              1.000000  90003.000000    32.578103
25%      31.000000              1.000000  92040.000000    34.027337
50%      42.000000              2.000000  93602.000000    36.460611
75%      54.000000              3.000000  95386.500000    38.343282
max      80.000000              9.000000  96146.000000    41.962127

         Longitude  Number of Referrals  Tenure in Months  \
count  1627.000000          1627.000000       1627.000000
mean   -119.833094             3.633067         38.300553
std       2.164937             3.372884         24.120776
min    -124.301372             0.000000          1.000000
25%    -121.827524             1.000000         15.000000
50%    -119.787574             3.000000         39.000000
75%    -118.038307             6.000000         62.000000
max    -114.192901            11.000000         72.000000

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                        1627.000000              1627.000000
mean                           25.180510                32.624462
std                            13.866453                20.952731
min                             1.080000                 2.000000
25%                            13.260000                18.000000
50%                            25.640000                25.000000
75%                            36.780000                52.000000
max                            49.990000                85.000000

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count     1627.000000    1627.000000    1627.000000               1627.000000
mean        55.830793    2407.749410       2.274345                  6.140135
std         32.642524    2321.631547       8.416459                 24.211553
min        -10.000000      19.000000       0.000000                  0.000000
25%         20.800000     550.700000       0.000000                  0.000000
50%         54.750000    1403.100000       0.000000                  0.000000
75%         84.800000    3961.950000       0.000000                  0.000000
max        118.750000    8672.450000      49.790000                150.000000

       Total Long Distance Charges  Total Revenue
count                  1627.000000    1627.000000
mean                    881.883128    3293.498328
std                     880.981969    2890.197468
min                       0.000000      23.240000
25%                     136.850000     941.945000
50%                     596.400000    2435.150000
75%                    1453.975000    5121.790000
max                    3536.640000   11688.900000


Outliers for column: Zip Code
       Age  Number of Dependents  Zip Code  Latitude  Longitude  \
count  0.0                   0.0       0.0       0.0        0.0
mean   NaN                   NaN       NaN       NaN        NaN
std    NaN                   NaN       NaN       NaN        NaN
min    NaN                   NaN       NaN       NaN        NaN
25%    NaN                   NaN       NaN       NaN        NaN
50%    NaN                   NaN       NaN       NaN        NaN
75%    NaN                   NaN       NaN       NaN        NaN
max    NaN                   NaN       NaN       NaN        NaN

       Number of Referrals  Tenure in Months  \
count                  0.0               0.0
mean                   NaN               NaN
std                    NaN               NaN
min                    NaN               NaN
25%                    NaN               NaN
50%                    NaN               NaN
75%                    NaN               NaN
max                    NaN               NaN

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                                0.0                      0.0
mean                                 NaN                      NaN
std                                  NaN                      NaN
min                                  NaN                      NaN
25%                                  NaN                      NaN
50%                                  NaN                      NaN
75%                                  NaN                      NaN
max                                  NaN                      NaN

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count             0.0            0.0            0.0                       0.0
mean              NaN            NaN            NaN                       NaN
std               NaN            NaN            NaN                       NaN
min               NaN            NaN            NaN                       NaN
25%               NaN            NaN            NaN                       NaN
50%               NaN            NaN            NaN                       NaN
75%               NaN            NaN            NaN                       NaN
max               NaN            NaN            NaN                       NaN

       Total Long Distance Charges  Total Revenue
count                          0.0            0.0
mean                           NaN            NaN
std                            NaN            NaN
min                            NaN            NaN
25%                            NaN            NaN
50%                            NaN            NaN
75%                            NaN            NaN
max                            NaN            NaN


Outliers for column: Latitude
       Age  Number of Dependents  Zip Code  Latitude  Longitude  \
count  0.0                   0.0       0.0       0.0        0.0
mean   NaN                   NaN       NaN       NaN        NaN
std    NaN                   NaN       NaN       NaN        NaN
min    NaN                   NaN       NaN       NaN        NaN
25%    NaN                   NaN       NaN       NaN        NaN
50%    NaN                   NaN       NaN       NaN        NaN
75%    NaN                   NaN       NaN       NaN        NaN
max    NaN                   NaN       NaN       NaN        NaN

       Number of Referrals  Tenure in Months  \
count                  0.0               0.0
mean                   NaN               NaN
std                    NaN               NaN
min                    NaN               NaN
25%                    NaN               NaN
50%                    NaN               NaN
75%                    NaN               NaN
max                    NaN               NaN

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                                0.0                      0.0
mean                                 NaN                      NaN
std                                  NaN                      NaN
min                                  NaN                      NaN
25%                                  NaN                      NaN
50%                                  NaN                      NaN
75%                                  NaN                      NaN
max                                  NaN                      NaN

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count             0.0            0.0            0.0                       0.0
mean              NaN            NaN            NaN                       NaN
std               NaN            NaN            NaN                       NaN
min               NaN            NaN            NaN                       NaN
25%               NaN            NaN            NaN                       NaN
50%               NaN            NaN            NaN                       NaN
75%               NaN            NaN            NaN                       NaN
max               NaN            NaN            NaN                       NaN

       Total Long Distance Charges  Total Revenue
count                          0.0            0.0
mean                           NaN            NaN
std                            NaN            NaN
min                            NaN            NaN
25%                            NaN            NaN
50%                            NaN            NaN
75%                            NaN            NaN
max                            NaN            NaN


Outliers for column: Longitude
       Age  Number of Dependents  Zip Code  Latitude  Longitude  \
count  0.0                   0.0       0.0       0.0        0.0
mean   NaN                   NaN       NaN       NaN        NaN
std    NaN                   NaN       NaN       NaN        NaN
min    NaN                   NaN       NaN       NaN        NaN
25%    NaN                   NaN       NaN       NaN        NaN
50%    NaN                   NaN       NaN       NaN        NaN
75%    NaN                   NaN       NaN       NaN        NaN
max    NaN                   NaN       NaN       NaN        NaN

       Number of Referrals  Tenure in Months  \
count                  0.0               0.0
mean                   NaN               NaN
std                    NaN               NaN
min                    NaN               NaN
25%                    NaN               NaN
50%                    NaN               NaN
75%                    NaN               NaN
max                    NaN               NaN

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                                0.0                      0.0
mean                                 NaN                      NaN
std                                  NaN                      NaN
min                                  NaN                      NaN
25%                                  NaN                      NaN
50%                                  NaN                      NaN
75%                                  NaN                      NaN
max                                  NaN                      NaN

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count             0.0            0.0            0.0                       0.0
mean              NaN            NaN            NaN                       NaN
std               NaN            NaN            NaN                       NaN
min               NaN            NaN            NaN                       NaN
25%               NaN            NaN            NaN                       NaN
50%               NaN            NaN            NaN                       NaN
75%               NaN            NaN            NaN                       NaN
max               NaN            NaN            NaN                       NaN

       Total Long Distance Charges  Total Revenue
count                          0.0            0.0
mean                           NaN            NaN
std                            NaN            NaN
min                            NaN            NaN
25%                            NaN            NaN
50%                            NaN            NaN
75%                            NaN            NaN
max                            NaN            NaN


Outliers for column: Number of Referrals
              Age  Number of Dependents      Zip Code    Latitude   Longitude  \
count  676.000000            676.000000    676.000000  676.000000  676.000000
mean    45.497041              0.958580  93449.903846   36.257605 -119.814700
std     16.444069              1.202984   1932.745496    2.485972    2.191326
min     19.000000              0.000000  90002.000000   32.555828 -124.217378
25%     31.000000              0.000000  92035.000000   33.992874 -121.854467
50%     45.000000              0.000000  93533.500000   36.405980 -119.687964
75%     58.000000              2.000000  95336.250000   38.236371 -118.036190
max     80.000000              5.000000  96146.000000   41.949216 -114.365140

       Number of Referrals  Tenure in Months  \
count            676.00000        676.000000
mean               9.02071         45.841716
std                0.81077         23.144700
min                8.00000          1.000000
25%                8.00000         26.000000
50%                9.00000         51.000000
75%               10.00000         68.000000
max               11.00000         72.000000

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                         676.000000               676.000000
mean                           25.806391                28.144970
std                            13.972737                20.411318
min                             1.270000                 2.000000
25%                            14.162500                14.000000
50%                            26.025000                22.000000
75%                            37.477500                41.000000
max                            49.900000                85.000000

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count      676.000000     676.000000     676.000000                676.000000
mean        63.336317    3182.995858       2.317189                  6.449704
std         33.431863    2444.831784       8.584789                 25.147838
min        -10.000000      18.800000       0.000000                  0.000000
25%         25.200000    1011.987500       0.000000                  0.000000
50%         69.875000    2722.800000       0.000000                  0.000000
75%         92.900000    5281.725000       0.000000                  0.000000
max        117.600000    8670.100000      49.760000                150.000000

       Total Long Distance Charges  Total Revenue
count                   676.000000     676.000000
mean                   1053.156376    4240.284749
std                     939.842464    3027.483743
min                       0.000000      35.000000
25%                     217.985000    1662.662500
50%                     786.045000    3705.270000
75%                    1729.147500    6762.187500
max                    3564.720000   11688.900000


Outliers for column: Tenure in Months
       Age  Number of Dependents  Zip Code  Latitude  Longitude  \
count  0.0                   0.0       0.0       0.0        0.0
mean   NaN                   NaN       NaN       NaN        NaN
std    NaN                   NaN       NaN       NaN        NaN
min    NaN                   NaN       NaN       NaN        NaN
25%    NaN                   NaN       NaN       NaN        NaN
50%    NaN                   NaN       NaN       NaN        NaN
75%    NaN                   NaN       NaN       NaN        NaN
max    NaN                   NaN       NaN       NaN        NaN

       Number of Referrals  Tenure in Months  \
count                  0.0               0.0
mean                   NaN               NaN
std                    NaN               NaN
min                    NaN               NaN
25%                    NaN               NaN
50%                    NaN               NaN
75%                    NaN               NaN
max                    NaN               NaN

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                                0.0                      0.0
mean                                 NaN                      NaN
std                                  NaN                      NaN
min                                  NaN                      NaN
25%                                  NaN                      NaN
50%                                  NaN                      NaN
75%                                  NaN                      NaN
max                                  NaN                      NaN

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count             0.0            0.0            0.0                       0.0
mean              NaN            NaN            NaN                       NaN
std               NaN            NaN            NaN                       NaN
min               NaN            NaN            NaN                       NaN
25%               NaN            NaN            NaN                       NaN
50%               NaN            NaN            NaN                       NaN
75%               NaN            NaN            NaN                       NaN
max               NaN            NaN            NaN                       NaN

       Total Long Distance Charges  Total Revenue
count                          0.0            0.0
mean                           NaN            NaN
std                            NaN            NaN
min                            NaN            NaN
25%                            NaN            NaN
50%                            NaN            NaN
75%                            NaN            NaN
max                            NaN            NaN


Outliers for column: Avg Monthly Long Distance Charges
       Age  Number of Dependents  Zip Code  Latitude  Longitude  \
count  0.0                   0.0       0.0       0.0        0.0
mean   NaN                   NaN       NaN       NaN        NaN

In [22]:
df.isna().sum()

Gender                               0
Age                                  0
Married                              0
Number of Dependents                 0
City                                 0
Zip Code                             0
Latitude                             0
Longitude                            0
Number of Referrals                  0
Tenure in Months                     0
Offer                                0
Phone Service                        0
Avg Monthly Long Distance Charges    0
Multiple Lines                       0
Internet Service                     0
Internet Type                        0
Avg Monthly GB Download              0
Online Security                      0
Online Backup                        0
Device Protection Plan               0
Premium Tech Support                 0
Streaming TV                         0
Streaming Movies                     0
Streaming Music                      0
Unlimited Data                       0
Contract                             0
Paperless Billing                    0
Payment Method                       0
Monthly Charge                       0
Total Charges                        0
Total Refunds                        0
Total Extra Data Charges             0
Total Long Distance Charges          0
Total Revenue                        0
Customer Status                      0
dtype: int64