In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv('telecom_customer_churn.csv')

## Data Understanding

In [3]:
class DatasetDisplay:
    def __init__(self, df):
        self.df = df
    
    def display_info(self):
        print(f'First Five Rows of DataFrame:\n{self.df.head()}')
        print('------------------------------------------')
        print(f'DataFrame Information:\n{self.df.info()}')
        print('------------------------------------------')
        print(f'Descriptive Statistics of DataFrame:\n{self.df.describe()}')
        print('------------------------------------------')
        print(f'Shape of DataFrame: {self.df.shape}')

In [4]:
display = DatasetDisplay(df)
display.display_info()

First Five Rows of DataFrame:
  Customer ID  Gender  Age Married  Number of Dependents          City  \
0  0002-ORFBO  Female   37     Yes                     0  Frazier Park
1  0003-MKNFE    Male   46      No                     0      Glendale
2  0004-TLHLJ    Male   50      No                     0    Costa Mesa
3  0011-IGKFF    Male   78     Yes                     0      Martinez
4  0013-EXCHZ  Female   75     Yes                     0     Camarillo

   Zip Code   Latitude   Longitude  Number of Referrals  ...   Payment Method  \
0     93225  34.827662 -118.999073                    2  ...      Credit Card
1     91206  34.162515 -118.203869                    0  ...      Credit Card
2     92627  33.645672 -117.922613                    0  ...  Bank Withdrawal
3     94553  38.014457 -122.115432                    1  ...  Bank Withdrawal
4     93010  34.227846 -119.079903                    3  ...      Credit Card

  Monthly Charge Total Charges  Total Refunds Total Extra Data Charges  \
0           65.6        593.30           0.00                        0
1           -4.0        542.40          38.33                       10
2           73.9        280.85           0.00                        0
3           98.0       1237.85           0.00                        0
4           83.9        267.40           0.00                        0

  Total Long Distance Charges Total Revenue  Customer Status   Churn Category  \
0                      381.51        974.81           Stayed              NaN
1                       96.21        610.28           Stayed              NaN
2                      134.60        415.45          Churned       Competitor
3                      361.66       1599.51          Churned  Dissatisfaction
4                       22.14        289.54          Churned  Dissatisfaction

                    Churn Reason
0                            NaN
1                            NaN
2  Competitor had better devices
3        Product dissatisfaction
4            Network reliability

[5 rows x 38 columns]
------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              7043 non-null   object
 12  Phone Service                      7043 non-null   object
 13  Avg Monthly Long Distance Charges  6361 non-null   float64
 14  Multiple Lines                     6361 non-null   object
 15  Internet Service                   7043 non-null   object
 16  Internet Type                      5517 non-null   object
 17  Avg Monthly GB Download            5517 non-null   float64
 18  Online Security                    5517 non-null   object
 19  Online Backup                      5517 non-null   object
 20  Device Protection Plan             5517 non-null   object
 21  Premium Tech Support               5517 non-null   object
 22  Streaming TV                       5517 non-null   object
 23  Streaming Movies                   5517 non-null   object
 24  Streaming Music                    5517 non-null   object
 25  Unlimited Data                     5517 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   object
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB
DataFrame Information:
None
------------------------------------------
Descriptive Statistics of DataFrame:
               Age  Number of Dependents      Zip Code     Latitude  \
count  7043.000000           7043.000000   7043.000000  7043.000000
mean     46.509726              0.468692  93486.070567    36.197455
std      16.750352              0.962802   1856.767505     2.468929
min      19.000000              0.000000  90001.000000    32.555828
25%      32.000000              0.000000  92101.000000    33.990646
50%      46.000000              0.000000  93518.000000    36.205465
75%      60.000000              0.000000  95329.000000    38.161321
max      80.000000              9.000000  96150.000000    41.962127

         Longitude  Number of Referrals  Tenure in Months  \
count  7043.000000          7043.000000       7043.000000
mean   -119.756684             1.951867         32.386767
std       2.154425             3.001199         24.542061
min    -124.301372             0.000000          1.000000
25%    -121.788090             0.000000          9.000000
50%    -119.595293             0.000000         29.000000
75%    -117.969795             3.000000         55.000000
max    -114.192901            11.000000         72.000000

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                        6361.000000              5517.000000
mean                           25.420517                26.189958
std                            14.200374                19.586585
min                             1.010000                 2.000000
25%                            13.050000                13.000000
50%                            25.690000                21.000000
75%                            37.680000                30.000000
max                            49.990000                85.000000

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count     7043.000000    7043.000000    7043.000000               7043.000000
mean        63.596131    2280.381264       1.962182                  6.860713
std         31.204743    2266.220462       7.902614                 25.104978
min        -10.000000      18.800000       0.000000                  0.000000
25%         30.400000     400.150000       0.000000                  0.000000
50%         70.050000    1394.550000       0.000000                  0.000000
75%         89.750000    3786.600000       0.000000                  0.000000
max        118.750000    8684.800000      49.790000                150.000000

       Total Long Distance Charges  Total Revenue
count                  7043.000000    7043.000000
mean                    749.099262    3034.379056
std                     846.660055    2865.204542
min                       0.000000      21.360000
25%                      70.545000     605.610000
50%                     401.440000    2108.640000
75%                    1191.100000    4801.145000
max                    3564.720000   11979.340000
------------------------------------------
Shape of DataFrame: (7043, 38)

## Missing Values

In [5]:
def missing(data):
    missing= data.isnull().sum()
    percentage= missing/len(data)
    return pd.DataFrame({'Number Of Missing Values': missing, 'Percentage of Missing Values': percentage})

In [6]:
missing(df)

,Number Of Missing Values,Percentage of Missing Values
Customer ID,0,0.000000
Gender,0,0.000000
Age,0,0.000000
Married,0,0.000000
Number of Dependents,0,0.000000
City,0,0.000000
Zip Code,0,0.000000
Latitude,0,0.000000
Longitude,0,0.000000
Number of Referrals,0,0.000000
Tenure in Months,0,0.000000
Offer,0,0.000000
Phone Service,0,0.000000
Avg Monthly Long Distance Charges,682,0.096834
Multiple Lines,682,0.096834
Internet Service,0,0.000000
Internet Type,1526,0.216669
Avg Monthly GB Download,1526,0.216669
Online Security,1526,0.216669
Online Backup,1526,0.216669
Device Protection Plan,1526,0.216669
Premium Tech Support,1526,0.216669
Streaming TV,1526,0.216669
Streaming Movies,1526,0.216669
Streaming Music,1526,0.216669
Unlimited Data,1526,0.216669
Contract,0,0.000000
Paperless Billing,0,0.000000
Payment Method,0,0.000000
Monthly Charge,0,0.000000
Total Charges,0,0.000000
Total Refunds,0,0.000000
Total Extra Data Charges,0,0.000000
Total Long Distance Charges,0,0.000000
Total Revenue,0,0.000000
Customer Status,0,0.000000
Churn Category,5174,0.734630
Churn Reason,5174,0.734630

### Drop Columns

In [7]:
class DropColumn:
    def __init__(self, data):
        self.data = data

    def drop_columns(self, columns):
        self.data.drop(columns=columns, inplace=True)

In [8]:
data = df
dropper = DropColumn(data)
columns_to_drop = ['Churn Category', 'Churn Reason', 'Customer ID']  # List of column names to drop
dropper.drop_columns(columns_to_drop)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             7043 non-null   object
 1   Age                                7043 non-null   int64
 2   Married                            7043 non-null   object
 3   Number of Dependents               7043 non-null   int64
 4   City                               7043 non-null   object
 5   Zip Code                           7043 non-null   int64
 6   Latitude                           7043 non-null   float64
 7   Longitude                          7043 non-null   float64
 8   Number of Referrals                7043 non-null   int64
 9   Tenure in Months                   7043 non-null   int64
 10  Offer                              7043 non-null   object
 11  Phone Service                      7043 non-null   object
 12  Avg Monthly Long Distance Charges  6361 non-null   float64
 13  Multiple Lines                     6361 non-null   object
 14  Internet Service                   7043 non-null   object
 15  Internet Type                      5517 non-null   object
 16  Avg Monthly GB Download            5517 non-null   float64
 17  Online Security                    5517 non-null   object
 18  Online Backup                      5517 non-null   object
 19  Device Protection Plan             5517 non-null   object
 20  Premium Tech Support               5517 non-null   object
 21  Streaming TV                       5517 non-null   object
 22  Streaming Movies                   5517 non-null   object
 23  Streaming Music                    5517 non-null   object
 24  Unlimited Data                     5517 non-null   object
 25  Contract                           7043 non-null   object
 26  Paperless Billing                  7043 non-null   object
 27  Payment Method                     7043 non-null   object
 28  Monthly Charge                     7043 non-null   float64
 29  Total Charges                      7043 non-null   float64
 30  Total Refunds                      7043 non-null   float64
 31  Total Extra Data Charges           7043 non-null   int64
 32  Total Long Distance Charges        7043 non-null   float64
 33  Total Revenue                      7043 non-null   float64
 34  Customer Status                    7043 non-null   object
dtypes: float64(9), int64(6), object(20)
memory usage: 1.9+ MB

## Fill missing Values

## Duplicates

In [10]:
def duplicates(data):
    duplicates= data.duplicated().any()
    if duplicates:
        print('Duplicates Present')
    else:
        print('There are no duplicates in the DataFrame')

In [11]:
duplicates(df)

There are no duplicates in the DataFrame

## Unique Values

In [12]:
def unique_values(data):
    categorical_columns = data.select_dtypes(include='object').columns
    for column in categorical_columns:
        unique_values = data[column].unique()
        print(f"There are Unique Values in '{column}': {unique_values}")

In [13]:
unique_values(df)

There are Unique Values in 'Gender': ['Female' 'Male']
There are Unique Values in 'Married': ['Yes' 'No']
There are Unique Values in 'City': ['Frazier Park' 'Glendale' 'Costa Mesa' ... 'Jacumba' 'Carpinteria'
 'Meadow Valley']
There are Unique Values in 'Offer': ['None' 'Offer E' 'Offer D' 'Offer A' 'Offer B' 'Offer C']
There are Unique Values in 'Phone Service': ['Yes' 'No']
There are Unique Values in 'Multiple Lines': ['No' 'Yes' nan]
There are Unique Values in 'Internet Service': ['Yes' 'No']
There are Unique Values in 'Internet Type': ['Cable' 'Fiber Optic' 'DSL' nan]
There are Unique Values in 'Online Security': ['No' 'Yes' nan]
There are Unique Values in 'Online Backup': ['Yes' 'No' nan]
There are Unique Values in 'Device Protection Plan': ['No' 'Yes' nan]
There are Unique Values in 'Premium Tech Support': ['Yes' 'No' nan]
There are Unique Values in 'Streaming TV': ['Yes' 'No' nan]
There are Unique Values in 'Streaming Movies': ['No' 'Yes' nan]
There are Unique Values in 'Streaming Music': ['No' 'Yes' nan]
There are Unique Values in 'Unlimited Data': ['Yes' 'No' nan]
There are Unique Values in 'Contract': ['One Year' 'Month-to-Month' 'Two Year']
There are Unique Values in 'Paperless Billing': ['Yes' 'No']
There are Unique Values in 'Payment Method': ['Credit Card' 'Bank Withdrawal' 'Mailed Check']
There are Unique Values in 'Customer Status': ['Stayed' 'Churned' 'Joined']

## Outliers